<!DOCTYPE html>
<html>
  <head>
    <title>LeaveManagementSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>

       <br>
       <div align="center">
       <% if flash[:notice].present? %>
        <div class= "alert alert-success alert-dismissable" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= flash[:notice] %> </div>
       <% elsif flash[:alert].present? %>
        <div class= "alert alert-danger alert-dismissable" role="alert"><%= flash[:alert] %> </div>
       <% end %>
       </div>
       <% if user_signed_in? %>
        <%= link_to('Profile', user_path(current_user.id), :class => "btn btn-primary") %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-primary") %>
        <%= link_to "Apply leave",  new_leave_path, :class => "btn btn-primary" %>
        <% unless action_name == "index" %>
          <%= link_to "Applied leaves List",  leaves_path, :class => "btn btn-primary" %> 
        <% end %>
       
      <% end %>
      
    <%= yield %>
  </body>
</html>
